# Load the shared object
useDynLib(monomvn)

# Exports
export(add.pe.QP, bridge, blasso, bhs, bmonomvn,
       default.QP, rmse.muS, Ellik.norm, kl.norm,
       monomvn, monomvn.solve.QP, randmvn, regress, 
       rmono, rwish)

# Import all packages listed as Imports or Depends
import(pls, lars, MASS, quadprog, mvtnorm)

## required for CRAN checks
importFrom("graphics", "abline", "boxplot", "hist", "image", "legend",
           "par", "plot", "points", "title")
importFrom("stats", "coef", "cov", "lm", "optimize", "quantile",
           "rbeta", "rbinom", "rchisq", "rgamma", "rnorm", "sd", "var")
importFrom("utils", "read.table")

# S3
S3method(plot, blasso)
S3method(print, blasso)
S3method(summary, blasso)
S3method(plot, monomvn)
S3method(print, monomvn)
S3method(summary, monomvn)
